:root{
    /* Color */
    --white-color: #fff;
    --fb-blue-color: #4267B2;
    --dark-grey: #5E6673;
    --light-grey: #F5F6F7;

    /* Size */
    --padding-micro: 8px;
    --padding-small: 12px;
    --padding-medium: 20px;
    
    --big-icon: 2.2em;
    --medium-icon:1.8em;
    --small-icon: 1.3em;
    --avatar-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: #E9EBEE;
}
/* HEADER */
#header-wrapper{
    background-color: var(--fb-blue-color);
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 10;
    height: 60px;
}
header{
    padding: var(--padding-small);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;    
}
header .search{
    display: flex;
}
header .logo{
    flex-grow: 0;
}
header .logo .fa{
    color:var(--white-color);
}
header .fa-facebook-square{
    font-size: var(--big-icon);
    padding-right: var(--padding-small);
}
header .search{
    height: 28px;
    flex-grow: 5;
}
header .search input{
    height: 100%;
    width: 100%;
    min-width: 200px;
    font-size: larger;
}
header .search .search-icon{
    height: 32px;
    border: none;
    margin-right:var(--padding-medium);
}
header .search .search-icon .fa-search{
    font-size: var(--small-icon);
    color:var(--dark-grey);
    padding: 0 var(--padding-small) 0 var(--padding-small);
    background-color: var(--light-grey);
    line-height: 2;
    height: 100%;
}
header .text-menu{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
}
header .text-menu .image img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
header .text-menu .top-nav span{
    padding-right: var(--padding-medium);
    padding-left: var(--padding-medium) ;
    line-height: 1.7;
    font-weight: bold;
    font-size: var(--font-large);
    color: var(--white-color);
    border-right: 3px solid #3B5CA0;
}
header .icon-menu{
    flex-grow: 0;
}
header .icon-menu div{
    display: flex;
    flex-wrap: nowrap;
    border-right: 3px solid #3B5CA0;
}
header .icon-menu .fa{
    font-size: var(--medium-icon);
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
    color: #1A2947;
}
header .admin-menu{
    flex-grow: 0;
}
header .admin-menu div{
    display: flex;
    flex-wrap: nowrap;
}
header .admin-menu .fa{
    font-size: var(--medium-icon);
    padding-left: var(--padding-small);
    color: #1A2947;
}

/* CONTENT WRAPPER */
#content-wrapper{
    position: relative;
    top:60px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}